<div id="viewport">
    <div class="w-100 shadow-lg" id="background"style="height:100vw" >
      <h1>
        <!-- <a >WELCOME</a> -->
      </h1>
      <ul class="nav list-unstyled d-flex flex-column">
        <li class="bg-light p-3 border border-2">
          <a routerLinkActive="active" class="text-decoration-none text-black">
            <i class="zmdi zmdi-view-dashboard"></i> Dashboard
          </a>
        </li>
        <li  class="bg-light p-3  border border-2">
          <a  class="text-decoration-none text-black" >
            <i class="zmdi zmdi-link"></i>Buy Stocks
          </a>
        </li>
        <li  class="bg-light p-3 border border-2">
          <a href="#" class="text-decoration-none text-black">
            <i class="zmdi zmdi-widgets"></i> Overview
          </a>
        </li>
        <li  class="bg-light p-3 border border-2">
          <a href="#" class="text-decoration-none text-black">
            <i class="zmdi zmdi-calendar"></i> Events
          </a>
        </li>
        <li  class="bg-light p-3 border border-2">
          <a href="#" class="text-decoration-none text-black">
            <i class="zmdi zmdi-info-outline"></i> About
          </a>
        </li>
        <li  class="bg-light p-3 border border-2">
          <a href="#" class="text-decoration-none text-black">
            <i class="zmdi zmdi-settings"></i> Services
          </a>
        </li>
        <li  class="bg-light p-3 border border-2">
          <a href="#" class="text-decoration-none text-black">
            <i class="zmdi zmdi-comment-more"></i> Contact
          </a>
        </li>
      </ul>
    </div>
  </div>